.f32 {
	.flag {
		background:url('http://demos.pinserve.com/pos/Images/flags/flags32.png') no-repeat;
	}
	// http://demos.pinserve.com/pos/
	// ../../Images/flags/flags32.png
	.semi {
	  background:url('../../Images/flags/flags32_semi.png') no-repeat;
	}

	.undefined{background-position:0 32px;}
	._African_Union{background-position:0 -0px;}
	._Arab_League{background-position:0 -32px;}
	._ASEAN{background-position:0 -64px;}
	._CARICOM{background-position:0 -96px;}
	._CIS{background-position:0 -128px;}
	._Commonwealth{background-position:0 -160px;}
	._England{background-position:0 -192px;}
	._European_Union{background-position:0 -224px;}
	._Islamic_Conference{background-position:0 -256px;}
	._Kosovo{background-position:0 -288px;}
	._NATO{background-position:0 -320px;}
	._Northern_Cyprus{background-position:0 -352px;}
	._Northern_Ireland{background-position:0 -384px;}
	._Olympic_Movement{background-position:0 -416px;}
	._OPEC{background-position:0 -448px;}
	._Red_Cross{background-position:0 -480px;}
	._Scotland{background-position:0 -512px;}
	._Somaliland{background-position:0 -544px;}
	._Tibet{background-position:0 -576px;}
	._United_Nations{background-position:0 -608px;}
	._Wales{background-position:0 -640px;}
	.AD{background-position:0 -672px;}
	.AE{background-position:0 -704px;}
	.AF{background-position:0 -736px;}
	.AG{background-position:0 -768px;}
	.AI{background-position:0 -800px;}
	.AL{background-position:0 -832px;}
	.AM{background-position:0 -864px;}
	.AN{background-position:0 -896px;}
	.AO{background-position:0 -928px;}
	.AQ{background-position:0 -960px;}
	.AR{background-position:0 -992px;}
	.AS{background-position:0 -1024px;}
	.AT{background-position:0 -1056px;}
	.AU{background-position:0 -1088px;}
	.AW{background-position:0 -1120px;}
	.AZ{background-position:0 -1152px;}
	.BA{background-position:0 -1184px;}
	.BB{background-position:0 -1216px;}
	.BD{background-position:0 -1248px;}
	.BE{background-position:0 -1280px;}
	.BF{background-position:0 -1312px;}
	.BG{background-position:0 -1344px;}
	.BH{background-position:0 -1376px;}
	.BI{background-position:0 -1408px;}
	.BJ{background-position:0 -1440px;}
	.BM{background-position:0 -1472px;}
	.BN{background-position:0 -1504px;}
	.BO{background-position:0 -1536px;}
	.BR{background-position:0 -1568px;}
	.BS{background-position:0 -1600px;}
	.BT{background-position:0 -1632px;}
	.BW{background-position:0 -1664px;}
	.BY{background-position:0 -1696px;}
	.BZ{background-position:0 -1728px;}
	.CA{background-position:0 -1760px;}
	.CD{background-position:0 -1792px;}
	.CF{background-position:0 -1824px;}
	.CG{background-position:0 -1856px;}
	.CH{background-position:0 -1888px;}
	.CI{background-position:0 -1920px;}
	.CK{background-position:0 -1952px;}
	.CL{background-position:0 -1984px;}
	.CM{background-position:0 -2016px;}
	.CN{background-position:0 -2048px;}
	.CO{background-position:0 -2080px;}
	.CR{background-position:0 -2112px;}
	.CU{background-position:0 -2144px;}
	.CV{background-position:0 -2176px;}
	.CY{background-position:0 -2208px;}
	.CZ{background-position:0 -2240px;}
	.DE{background-position:0 -2272px;}
	.DJ{background-position:0 -2304px;}
	.DK{background-position:0 -2336px;}
	.DM{background-position:0 -2368px;}
	.DO{background-position:0 -2400px;}
	.DZ{background-position:0 -2432px;}
	.EC{background-position:0 -2464px;}
	.EE{background-position:0 -2496px;}
	.EG{background-position:0 -2528px;}
	.EH{background-position:0 -2560px;}
	.ER{background-position:0 -2592px;}
	.ES{background-position:0 -2624px;}
	.ET{background-position:0 -2656px;}
	.FI{background-position:0 -2688px;}
	.FJ{background-position:0 -2720px;}
	.FM{background-position:0 -2752px;}
	.FO{background-position:0 -2784px;}
	.FR{background-position:0 -2816px;}
	.GA{background-position:0 -2848px;}
	.GB{background-position:0 -2880px;}
	.GD{background-position:0 -2912px;}
	.GE{background-position:0 -2944px;}
	.GG{background-position:0 -2976px;}
	.GH{background-position:0 -3008px;}
	.GI{background-position:0 -3040px;}
	.GL{background-position:0 -3072px;}
	.GM{background-position:0 -3104px;}
	.GN{background-position:0 -3136px;}
	.GP{background-position:0 -3168px;}
	.GQ{background-position:0 -3200px;}
	.GR{background-position:0 -3232px;}
	.GT{background-position:0 -3264px;}
	.GU{background-position:0 -3296px;}
	.GW{background-position:0 -3328px;}
	.GY{background-position:0 -3360px;}
	.HK{background-position:0 -3392px;}
	.HN{background-position:0 -3424px;}
	.HR{background-position:0 -3456px;}
	.HT{background-position:0 -3488px;}
	.HU{background-position:0 -3520px;}
	.ID{background-position:0 -3552px;}
	.MC{background-position:0 -3552px;}
	.IE{background-position:0 -3584px;}
	.IL{background-position:0 -3616px;}
	.IM{background-position:0 -3648px;}
	.IN{background-position:0 -3680px;}
	.IQ{background-position:0 -3712px;}
	.IR{background-position:0 -3744px;}
	.IS{background-position:0 -3776px;}
	.IT{background-position:0 -3808px;}
	.JE{background-position:0 -3840px;}
	.JM{background-position:0 -3872px;}
	.JO{background-position:0 -3904px;}
	.JP{background-position:0 -3936px;}
	.KE{background-position:0 -3968px;}
	.KG{background-position:0 -4000px;}
	.KH{background-position:0 -4032px;}
	.KI{background-position:0 -4064px;}
	.KM{background-position:0 -4096px;}
	.KN{background-position:0 -4128px;}
	.KP{background-position:0 -4160px;}
	.KR{background-position:0 -4192px;}
	.KW{background-position:0 -4224px;}
	.KY{background-position:0 -4256px;}
	.KZ{background-position:0 -4288px;}
	.LA{background-position:0 -4320px;}
	.LB{background-position:0 -4352px;}
	.LC{background-position:0 -4384px;}
	.LI{background-position:0 -4416px;}
	.LK{background-position:0 -4448px;}
	.LR{background-position:0 -4480px;}
	.LS{background-position:0 -4512px;}
	.LT{background-position:0 -4544px;}
	.LU{background-position:0 -4576px;}
	.LV{background-position:0 -4608px;}
	.LY{background-position:0 -4640px;}
	.MA{background-position:0 -4672px;}
	.MD{background-position:0 -4704px;}
	.ME{background-position:0 -4736px;}
	.MG{background-position:0 -4768px;}
	.MH{background-position:0 -4800px;}
	.MK{background-position:0 -4832px;}
	.ML{background-position:0 -4864px;}
	.MM{background-position:0 -4896px;}
	.MN{background-position:0 -4928px;}
	.MO{background-position:0 -4960px;}
	.MQ{background-position:0 -4992px;}
	.MR{background-position:0 -5024px;}
	.MS{background-position:0 -5056px;}
	.MT{background-position:0 -5088px;}
	.MU{background-position:0 -5120px;}
	.MV{background-position:0 -5152px;}
	.MW{background-position:0 -5184px;}
	.MX{background-position:0 -5216px;}
	.MY{background-position:0 -5248px;}
	.MZ{background-position:0 -5280px;}
	.NA{background-position:0 -5312px;}
	.NC{background-position:0 -5344px;}
	.NE{background-position:0 -5376px;}
	.NG{background-position:0 -5408px;}
	.NI{background-position:0 -5440px;}
	.NL{background-position:0 -5472px;}
	.NO{background-position:0 -5504px;}
	.NP{background-position:0 -5536px;}
	.NR{background-position:0 -5568px;}
	.NZ{background-position:0 -5600px;}
	.OM{background-position:0 -5632px;}
	.PA{background-position:0 -5664px;}
	.PE{background-position:0 -5696px;}
	.PF{background-position:0 -5728px;}
	.PG{background-position:0 -5760px;}
	.PH{background-position:0 -5792px;}
	.PK{background-position:0 -5824px;}
	.PL{background-position:0 -5856px;}
	.PR{background-position:0 -5888px;}
	.PS{background-position:0 -5920px;}
	.PT{background-position:0 -5952px;}
	.PW{background-position:0 -5984px;}
	.PY{background-position:0 -6016px;}
	.QA{background-position:0 -6048px;}
	.RE{background-position:0 -6080px;}
	.RO{background-position:0 -6112px;}
	.RS{background-position:0 -6144px;}
	.RU{background-position:0 -6176px;}
	.RW{background-position:0 -6208px;}
	.SA{background-position:0 -6240px;}
	.SB{background-position:0 -6272px;}
	.SC{background-position:0 -6304px;}
	.SD{background-position:0 -6336px;}
	.SE{background-position:0 -6368px;}
	.SG{background-position:0 -6400px;}
	.SI{background-position:0 -6432px;}
	.SK{background-position:0 -6464px;}
	.SL{background-position:0 -6496px;}
	.SM{background-position:0 -6528px;}
	.SN{background-position:0 -6560px;}
	.SO{background-position:0 -6592px;}
	.SR{background-position:0 -6624px;}
	.ST{background-position:0 -6656px;}
	.SV{background-position:0 -6688px;}
	.SY{background-position:0 -6720px;}
	.SZ{background-position:0 -6752px;}
	.TC{background-position:0 -6784px;}
	.TD{background-position:0 -6816px;}
	.TG{background-position:0 -6848px;}
	.TH{background-position:0 -6880px;}
	.TJ{background-position:0 -6912px;}
	.TL{background-position:0 -6944px;}
	.TM{background-position:0 -6976px;}
	.TN{background-position:0 -7008px;}
	.TO{background-position:0 -7040px;}
	.TR{background-position:0 -7072px;}
	.TT{background-position:0 -7104px;}
	.TV{background-position:0 -7136px;}
	.TW{background-position:0 -7168px;}
	.TZ{background-position:0 -7200px;}
	.UA{background-position:0 -7232px;}
	.UG{background-position:0 -7264px;}
	.US{background-position:0 -7296px;}
	.UY{background-position:0 -7328px;}
	.UZ{background-position:0 -7360px;}
	.VA{background-position:0 -7392px;}
	.VC{background-position:0 -7424px;}
	.VE{background-position:0 -7456px;}
	.VG{background-position:0 -7488px;}
	.VI{background-position:0 -7520px;}
	.VN{background-position:0 -7552px;}
	.VU{background-position:0 -7584px;}
	.WS{background-position:0 -7616px;}
	.YE{background-position:0 -7648px;}
	.ZA{background-position:0 -7680px;}
	.ZM{background-position:0 -7712px;}
	.ZW{background-position:0 -7744px;}
	.WF{background-position:0 -7776px;}
	.CC{background-position:0 -7808px;}
	.GF{background-position:0 -7840px;}
	.MP{background-position:0 -7872px;}
	.IO{background-position:0 -7904px;}
	.AC{background-position:0 -7936px;}
	.FK{background-position:0 -7968px;}
	.SH{ /* Saint Helena, Ascension and Tristan da Cunha */}
	.UM{/* United States Minor Outlying Islands */}
	.SJ{/* Svalbard and Jan Mayen */}
	.PM{background-position:0 -2816px;} /* france alias .FR */
	.SS{background-position:0 -6336px;} /* sudan alias .SD */
	.TK{background-position:0 -5600px;} /* new zeland alias .NZ */
	// .01{background-position:0 -5952px;} /* portugal alias .PT */
	// .02{background-position:0 -1984px;} /* chile alias .CL */
}
