.f64 .flag {
  background:url('../../Images/flags/flags64.png') no-repeat;

}
.f64 .semi {
  background:url('../../Images/flags/flags64_semi.png') no-repeat;
}

.f64 .undefined{background-position:0 64px;}
.f64 ._African_Union{background-position:0 -0px;}
.f64 ._Arab_League{background-position:0 -64px;}
.f64 ._ASEAN{background-position:0 -128px;}
.f64 ._CARICOM{background-position:0 -192px;}
.f64 ._CIS{background-position:0 -256px;}
.f64 ._Commonwealth{background-position:0 -320px;}
.f64 ._England{background-position:0 -384px;}
.f64 ._European_Union{background-position:0 -448px;}
.f64 ._Islamic_Conference{background-position:0 -512px;}
.f64 ._Kosovo{background-position:0 -576px;}
.f64 ._NATO{background-position:0 -640px;}
.f64 ._Northern_Cyprus{background-position:0 -704px;}
.f64 ._Northern_Ireland{background-position:0 -768px;}
.f64 ._Olympic_Movement{background-position:0 -832px;}
.f64 ._OPEC{background-position:0 -896px;}
.f64 ._Red_Cross{background-position:0 -960px;}
.f64 ._Scotland{background-position:0 -1024px;}
.f64 ._Somaliland{background-position:0 -1088px;}
.f64 ._Tibet{background-position:0 -1152px;}
.f64 ._United_Nations{background-position:0 -1216px;}
.f64 ._Wales{background-position:0 -1280px;}
.f64 .AD{background-position:0 -1344px;}
.f64 .AE{background-position:0 -1408px;}
.f64 .AF{background-position:0 -1472px;}
.f64 .AG{background-position:0 -1504px;}
.f64 .AI{background-position:0 -1600px;}
.f64 .AL{background-position:0 -1664px;}
.f64 .AM{background-position:0 -1728px;}
.f64 .AN{background-position:0 -1792px;}
.f64 .AO{background-position:0 -1856px;}
.f64 .AQ{background-position:0 -1920px;}
.f64 .AR{background-position:0 -1984px;}
.f64 .AS{background-position:0 -2048px;}
.f64 .AT{background-position:0 -2112px;}
.f64 .AU{background-position:0 -2176px;}
.f64 .AW{background-position:0 -2240px;}
.f64 .AZ{background-position:0 -2304px;}
.f64 .BA{background-position:0 -2368px;}
.f64 .BB{background-position:0 -2432px;}
.f64 .BD{background-position:0 -2496px;}
.f64 .BE{background-position:0 -2560px;}
.f64 .BF{background-position:0 -2624px;}
.f64 .BG{background-position:0 -2688px;}
.f64 .BH{background-position:0 -2752px;}
.f64 .BI{background-position:0 -2816px;}
.f64 .BJ{background-position:0 -2760px;}
.f64 .BM{background-position:0 -2944px;}
.f64 .BN{background-position:0 -3008px;}
.f64 .BO{background-position:0 -3072px;}
.f64 .BR{background-position:0 -3136px;}
.f64 .BS{background-position:0 -3200px;}
.f64 .BT{background-position:0 -3264px;}
.f64 .BW{background-position:0 -3328px;}
.f64 .BY{background-position:0 -3392px;}
.f64 .BZ{background-position:0 -3456px;}
.f64 .CA{background-position:0 -3520px;}
.f64 .CD{background-position:0 -3584px;}
.f64 .CF{background-position:0 -3648px;}
.f64 .CG{background-position:0 -3712px;}
.f64 .CH{background-position:0 -3776px;}
.f64 .CI{background-position:0 -3840px;}
.f64 .CK{background-position:0 -3904px;}
.f64 .CL{background-position:0 -3968px;}
.f64 .CM{background-position:0 -4032px;}
.f64 .CN{background-position:0 -4096px;}
.f64 .CO{background-position:0 -4160px;}
.f64 .CR{background-position:0 -4224px;}
.f64 .CU{background-position:0 -4288px;}
.f64 .CV{background-position:0 -4352px;}
.f64 .CY{background-position:0 -4416px;}
.f64 .CZ{background-position:0 -4480px;}
.f64 .DE{background-position:0 -4544px;}
.f64 .DJ{background-position:0 -4608px;}
.f64 .DK{background-position:0 -4672px;}
.f64 .DM{background-position:0 -4736px;}
.f64 .DO{background-position:0 -4800px;}
.f64 .DZ{background-position:0 -4864px;}
.f64 .EC{background-position:0 -4928px;}
.f64 .EE{background-position:0 -4992px;}
.f64 .EG{background-position:0 -5056px;}
.f64 .EH{background-position:0 -5120px;}
.f64 .ER{background-position:0 -5184px;}
.f64 .ES{background-position:0 -5248px;}
.f64 .ET{background-position:0 -5312px;}
.f64 .FI{background-position:0 -5376px;}
.f64 .FJ{background-position:0 -5440px;}
.f64 .FM{background-position:0 -5504px;}
.f64 .FO{background-position:0 -5568px;}
.f64 .FR{background-position:0 -5632px;}
.f64 .GA{background-position:0 -5696px;}
.f64 .GB{background-position:0 -5760px;}
.f64 .GD{background-position:0 -5824px;}
.f64 .GE{background-position:0 -5888px;}
.f64 .GG{background-position:0 -5952px;}
.f64 .GH{background-position:0 -6016px;}
.f64 .GI{background-position:0 -6080px;}
.f64 .GL{background-position:0 -6144px;}
.f64 .GM{background-position:0 -6208px;}
.f64 .GN{background-position:0 -6272px;}
.f64 .GP{background-position:0 -6336px;}
.f64 .GQ{background-position:0 -6400px;}
.f64 .GR{background-position:0 -6464px;}
.f64 .GT{background-position:0 -6528px;}
.f64 .GU{background-position:0 -6592px;}
.f64 .GW{background-position:0 -6656px;}
.f64 .GY{background-position:0 -6720px;}
.f64 .HK{background-position:0 -6784px;}
.f64 .HN{background-position:0 -6848px;}
.f64 .HR{background-position:0 -6912px;}
.f64 .HT{background-position:0 -6976px;}
.f64 .HU{background-position:0 -7040px;}
.f64 .ID{background-position:0 -7104px;}
.f64 .MC{background-position:0 -7104px;}
.f64 .IE{background-position:0 -7168px;}
.f64 .IL{background-position:0 -7232px;}
.f64 .IM{background-position:0 -7296px;}
.f64 .IN{background-position:0 -7360px;}
.f64 .IQ{background-position:0 -7424px;}
.f64 .IR{background-position:0 -7488px;}
.f64 .IS{background-position:0 -7552px;}
.f64 .IT{background-position:0 -7616px;}
.f64 .JE{background-position:0 -7680px;}
.f64 .JM{background-position:0 -7744px;}
.f64 .JO{background-position:0 -7808px;}
.f64 .JP{background-position:0 -7872px;}
.f64 .KE{background-position:0 -7936px;}
.f64 .KG{background-position:0 -8000px;}
.f64 .KH{background-position:0 -8064px;}
.f64 .KI{background-position:0 -8128px;}
.f64 .KM{background-position:0 -8192px;}
.f64 .KN{background-position:0 -8256px;}
.f64 .KP{background-position:0 -8320px;}
.f64 .KR{background-position:0 -8384px;}
.f64 .KW{background-position:0 -8448px;}
.f64 .KY{background-position:0 -8512px;}
.f64 .KZ{background-position:0 -8576px;}
.f64 .LA{background-position:0 -8640px;}
.f64 .LB{background-position:0 -8704px;}
.f64 .LC{background-position:0 -8768px;}
.f64 .LI{background-position:0 -8832px;}
.f64 .LK{background-position:0 -8896px;}
.f64 .LR{background-position:0 -8960px;}
.f64 .LS{background-position:0 -9024px;}
.f64 .LT{background-position:0 -9088px;}
.f64 .LU{background-position:0 -9152px;}
.f64 .LV{background-position:0 -9216px;}
.f64 .LY{background-position:0 -9280px;}
.f64 .MA{background-position:0 -9344px;}
.f64 .MD{background-position:0 -9408px;}
.f64 .ME{background-position:0 -9472px;}
.f64 .MG{background-position:0 -9536px;}
.f64 .MH{background-position:0 -9600px;}
.f64 .MK{background-position:0 -9664px;}
.f64 .ML{background-position:0 -9728px;}
.f64 .MM{background-position:0 -9792px;}
.f64 .MN{background-position:0 -9856px;}
.f64 .MO{background-position:0 -9920px;}
.f64 .MQ{background-position:0 -9984px;}
.f64 .MR{background-position:0 -10048px;}
.f64 .MS{background-position:0 -10112px;}
.f64 .MT{background-position:0 -10176px;}
.f64 .MU{background-position:0 -10240px;}
.f64 .MV{background-position:0 -10304px;}
.f64 .MW{background-position:0 -10368px;}
.f64 .MX{background-position:0 -10432px;}
.f64 .MY{background-position:0 -10496px;}
.f64 .MZ{background-position:0 -10560px;}
.f64 .NA{background-position:0 -10624px;}
.f64 .NC{background-position:0 -10688px;}
.f64 .NE{background-position:0 -10752px;}
.f64 .NG{background-position:0 -10816px;}
.f64 .NI{background-position:0 -10880px;}
.f64 .NL{background-position:0 -10944px;}
.f64 .NO{background-position:0 -11008px;}
.f64 .NP{background-position:0 -11072px;}
.f64 .NR{background-position:0 -11136px;}
.f64 .NZ{background-position:0 -11200px;}
.f64 .OM{background-position:0 -11264px;}
.f64 .PA{background-position:0 -11328px;}
.f64 .PE{background-position:0 -11392px;}
.f64 .PF{background-position:0 -11456px;}
.f64 .PG{background-position:0 -11520px;}
.f64 .PH{background-position:0 -11584px;}
.f64 .PK{background-position:0 -11648px;}
.f64 .PL{background-position:0 -11712px;}
.f64 .PR{background-position:0 -11776px;}
.f64 .PS{background-position:0 -11840px;}
.f64 .PT{background-position:0 -11904px;}
.f64 .PW{background-position:0 -11968px;}
.f64 .PY{background-position:0 -12032px;}
.f64 .QA{background-position:0 -12096px;}
.f64 .RE{background-position:0 -12160px;}
.f64 .RO{background-position:0 -12224px;}
.f64 .RS{background-position:0 -12288px;}
.f64 .RU{background-position:0 -12352px;}
.f64 .RW{background-position:0 -12416px;}
.f64 .SA{background-position:0 -12480px;}
.f64 .SB{background-position:0 -12544px;}
.f64 .SC{background-position:0 -12608px;}
.f64 .SD{background-position:0 -12672px;}
.f64 .SE{background-position:0 -12736px;}
.f64 .SG{background-position:0 -12800px;}
.f64 .SI{background-position:0 -12864px;}
.f64 .SK{background-position:0 -12928px;}
.f64 .SL{background-position:0 -12992px;}
.f64 .SM{background-position:0 -13056px;}
.f64 .SN{background-position:0 -13120px;}
.f64 .SO{background-position:0 -13184px;}
.f64 .SR{background-position:0 -13248px;}
.f64 .ST{background-position:0 -13312px;}
.f64 .SV{background-position:0 -13376px;}
.f64 .SY{background-position:0 -13440px;}
.f64 .SZ{background-position:0 -13504px;}
.f64 .TC{background-position:0 -13568px;}
.f64 .TD{background-position:0 -13632px;}
.f64 .TG{background-position:0 -13696px;}
.f64 .TH{background-position:0 -13760px;}
.f64 .TJ{background-position:0 -13824px;}
.f64 .TL{background-position:0 -13888px;}
.f64 .TM{background-position:0 -13952px;}
.f64 .TN{background-position:0 -14016px;}
.f64 .TO{background-position:0 -14080px;}
.f64 .TR{background-position:0 -14144px;}
.f64 .TT{background-position:0 -14208px;}
.f64 .TV{background-position:0 -14272px;}
.f64 .TW{background-position:0 -14336px;}
.f64 .TZ{background-position:0 -14400px;}
.f64 .UA{background-position:0 -14464px;}
.f64 .UG{background-position:0 -14528px;}
.f64 .US{background-position:0 -14592px;}
.f64 .UY{background-position:0 -14656px;}
.f64 .UZ{background-position:0 -14720px;}
.f64 .VA{background-position:0 -14784px;}
.f64 .VC{background-position:0 -14848px;}
.f64 .VE{background-position:0 -14912px;}
.f64 .VG{background-position:0 -14976px;}
.f64 .VI{background-position:0 -15040px;}
.f64 .VN{background-position:0 -15104px;}
.f64 .VU{background-position:0 -15168px;}
.f64 .WS{background-position:0 -15232px;}
.f64 .YE{background-position:0 -15296px;}
.f64 .ZA{background-position:0 -15360px;}
.f64 .ZM{background-position:0 -15424px;}
.f64 .ZW{background-position:0 -15488px;}
