.f24 .flag {
	background:url('../../Images/flags/flags24.png') no-repeat;
}

.f24 .semi {
  background:url('../../Images/flags/flags24_semi.png') no-repeat;
}

.f24 .undefined{background-position:0 24px;}
.f24 ._African_Union{background-position:0 -0px;}
.f24 ._Arab_League{background-position:0 -24px;}
.f24 ._ASEAN{background-position:0 -48px;}
.f24 ._CARICOM{background-position:0 -72px;}
.f24 ._CIS{background-position:0 -96px;}
.f24 ._Commonwealth{background-position:0 -120px;}
.f24 ._England{background-position:0 -144px;}
.f24 ._European_Union{background-position:0 -168px;}
.f24 ._Islamic_Conference{background-position:0 -192px;}
.f24 ._Kosovo{background-position:0 -216px;}
.f24 ._NATO{background-position:0 -240px;}
.f24 ._Northern_Cyprus{background-position:0 -264px;}
.f24 ._Northern_Ireland{background-position:0 -288px;}
.f24 ._Olympic_Movement{background-position:0 -312px;}
.f24 ._OPEC{background-position:0 -336px;}
.f24 ._Red_Cross{background-position:0 -360px;}
.f24 ._Scotland{background-position:0 -384px;}
.f24 ._Somaliland{background-position:0 -408px;}
.f24 ._Tibet{background-position:0 -432px;}
.f24 ._United_Nations{background-position:0 -456px;}
.f24 ._Wales{background-position:0 -480px;}
.f24 .AD{background-position:0 -504px;}
.f24 .AE{background-position:0 -528px;}
.f24 .AF{background-position:0 -552px;}
.f24 .AG{background-position:0 -576px;}
.f24 .AI{background-position:0 -600px;}
.f24 .AL{background-position:0 -624px;}
.f24 .AM{background-position:0 -648px;}
.f24 .AN{background-position:0 -672px;}
.f24 .AO{background-position:0 -696px;}
.f24 .AQ{background-position:0 -720px;}
.f24 .AR{background-position:0 -744px;}
.f24 .AS{background-position:0 -768px;}
.f24 .AT{background-position:0 -792px;}
.f24 .AU{background-position:0 -816px;}
.f24 .AW{background-position:0 -840px;}
.f24 .AZ{background-position:0 -864px;}
.f24 .BA{background-position:0 -888px;}
.f24 .BB{background-position:0 -912px;}
.f24 .BD{background-position:0 -936px;}
.f24 .BE{background-position:0 -960px;}
.f24 .BF{background-position:0 -984px;}
.f24 .BG{background-position:0 -1008px;}
.f24 .BH{background-position:0 -1032px;}
.f24 .BI{background-position:0 -1056px;}
.f24 .BJ{background-position:0 -1080px;}
.f24 .BM{background-position:0 -1104px;}
.f24 .BN{background-position:0 -1128px;}
.f24 .BO{background-position:0 -1152px;}
.f24 .BR{background-position:0 -1176px;}
.f24 .BS{background-position:0 -1200px;}
.f24 .BT{background-position:0 -1224px;}
.f24 .BW{background-position:0 -1248px;}
.f24 .BY{background-position:0 -1272px;}
.f24 .BZ{background-position:0 -1296px;}
.f24 .CA{background-position:0 -1320px;}
.f24 .CD{background-position:0 -1344px;}
.f24 .CF{background-position:0 -1368px;}
.f24 .CG{background-position:0 -1392px;}
.f24 .CH{background-position:0 -1416px;}
.f24 .CI{background-position:0 -1440px;}
.f24 .CK{background-position:0 -1464px;}
.f24 .CL{background-position:0 -1488px;}
.f24 .CM{background-position:0 -1512px;}
.f24 .CN{background-position:0 -1536px;}
.f24 .CO{background-position:0 -1560px;}
.f24 .CR{background-position:0 -1584px;}
.f24 .CU{background-position:0 -1608px;}
.f24 .CV{background-position:0 -1632px;}
.f24 .CY{background-position:0 -1656px;}
.f24 .CZ{background-position:0 -1680px;}
.f24 .DE{background-position:0 -1704px;}
.f24 .DJ{background-position:0 -1728px;}
.f24 .DK{background-position:0 -1752px;}
.f24 .DM{background-position:0 -1776px;}
.f24 .DO{background-position:0 -1800px;}
.f24 .DZ{background-position:0 -1824px;}
.f24 .EC{background-position:0 -1848px;}
.f24 .EE{background-position:0 -1872px;}
.f24 .EG{background-position:0 -1896px;}
.f24 .EH{background-position:0 -1920px;}
.f24 .ER{background-position:0 -1944px;}
.f24 .ES{background-position:0 -1968px;}
.f24 .ET{background-position:0 -1992px;}
.f24 .FI{background-position:0 -2016px;}
.f24 .FJ{background-position:0 -2040px;}
.f24 .FM{background-position:0 -2064px;}
.f24 .FO{background-position:0 -2088px;}
.f24 .FR{background-position:0 -2112px;}
.f24 .GA{background-position:0 -2136px;}
.f24 .GB{background-position:0 -2160px;}
.f24 .GD{background-position:0 -2184px;}
.f24 .GE{background-position:0 -2208px;}
.f24 .GG{background-position:0 -2232px;}
.f24 .GH{background-position:0 -2256px;}
.f24 .GI{background-position:0 -2280px;}
.f24 .GL{background-position:0 -2304px;}
.f24 .GM{background-position:0 -2328px;}
.f24 .GN{background-position:0 -2352px;}
.f24 .GP{background-position:0 -2376px;}
.f24 .GQ{background-position:0 -2400px;}
.f24 .GR{background-position:0 -2424px;}
.f24 .GT{background-position:0 -2448px;}
.f24 .GU{background-position:0 -2472px;}
.f24 .GW{background-position:0 -2496px;}
.f24 .GY{background-position:0 -2520px;}
.f24 .HK{background-position:0 -2544px;}
.f24 .HN{background-position:0 -2568px;}
.f24 .HR{background-position:0 -2592px;}
.f24 .HT{background-position:0 -2616px;}
.f24 .HU{background-position:0 -2640px;}
.f24 .ID{background-position:0 -2664px;}
.f24 .MC{background-position:0 -2664px;}
.f24 .IE{background-position:0 -2688px;}
.f24 .IL{background-position:0 -2712px;}
.f24 .IM{background-position:0 -2736px;}
.f24 .IN{background-position:0 -2760px;}
.f24 .IQ{background-position:0 -2784px;}
.f24 .IR{background-position:0 -2808px;}
.f24 .IS{background-position:0 -2832px;}
.f24 .IT{background-position:0 -2856px;}
.f24 .JE{background-position:0 -2880px;}
.f24 .JM{background-position:0 -2904px;}
.f24 .JO{background-position:0 -2928px;}
.f24 .JP{background-position:0 -2952px;}
.f24 .KE{background-position:0 -2976px;}
.f24 .KG{background-position:0 -3000px;}
.f24 .KH{background-position:0 -3024px;}
.f24 .KI{background-position:0 -3048px;}
.f24 .KM{background-position:0 -3072px;}
.f24 .KN{background-position:0 -3096px;}
.f24 .KP{background-position:0 -3120px;}
.f24 .KR{background-position:0 -3144px;}
.f24 .KW{background-position:0 -3168px;}
.f24 .KY{background-position:0 -3192px;}
.f24 .KZ{background-position:0 -3216px;}
.f24 .LA{background-position:0 -3240px;}
.f24 .LB{background-position:0 -3264px;}
.f24 .LC{background-position:0 -3288px;}
.f24 .LI{background-position:0 -3312px;}
.f24 .LK{background-position:0 -3336px;}
.f24 .LR{background-position:0 -3360px;}
.f24 .LS{background-position:0 -3384px;}
.f24 .LT{background-position:0 -3408px;}
.f24 .LU{background-position:0 -3432px;}
.f24 .LV{background-position:0 -3456px;}
.f24 .LY{background-position:0 -3480px;}
.f24 .MA{background-position:0 -3504px;}
.f24 .MD{background-position:0 -3528px;}
.f24 .ME{background-position:0 -3552px;}
.f24 .MG{background-position:0 -3576px;}
.f24 .MH{background-position:0 -3600px;}
.f24 .MK{background-position:0 -3624px;}
.f24 .ML{background-position:0 -3648px;}
.f24 .MM{background-position:0 -3672px;}
.f24 .MN{background-position:0 -3696px;}
.f24 .MO{background-position:0 -3720px;}
.f24 .MQ{background-position:0 -3744px;}
.f24 .MR{background-position:0 -3768px;}
.f24 .MS{background-position:0 -3792px;}
.f24 .MT{background-position:0 -3816px;}
.f24 .MU{background-position:0 -3840px;}
.f24 .MV{background-position:0 -3864px;}
.f24 .MW{background-position:0 -3888px;}
.f24 .MX{background-position:0 -3912px;}
.f24 .MY{background-position:0 -3936px;}
.f24 .MZ{background-position:0 -3960px;}
.f24 .NA{background-position:0 -3984px;}
.f24 .NC{background-position:0 -4008px;}
.f24 .NE{background-position:0 -4032px;}
.f24 .NG{background-position:0 -4056px;}
.f24 .NI{background-position:0 -4080px;}
.f24 .NL{background-position:0 -4104px;}
.f24 .NO{background-position:0 -4128px;}
.f24 .NP{background-position:0 -4152px;}
.f24 .NR{background-position:0 -4176px;}
.f24 .NZ{background-position:0 -4200px;}
.f24 .OM{background-position:0 -4224px;}
.f24 .PA{background-position:0 -4248px;}
.f24 .PE{background-position:0 -4272px;}
.f24 .PF{background-position:0 -4296px;}
.f24 .PG{background-position:0 -4320px;}
.f24 .PH{background-position:0 -4344px;}
.f24 .PK{background-position:0 -4368px;}
.f24 .PL{background-position:0 -4392px;}
.f24 .PR{background-position:0 -4416px;}
.f24 .PS{background-position:0 -4440px;}
.f24 .PT{background-position:0 -4464px;}
.f24 .PW{background-position:0 -4488px;}
.f24 .PY{background-position:0 -4512px;}
.f24 .QA{background-position:0 -4536px;}
.f24 .RE{background-position:0 -4560px;}
.f24 .RO{background-position:0 -4584px;}
.f24 .RS{background-position:0 -4608px;}
.f24 .RU{background-position:0 -4632px;}
.f24 .RW{background-position:0 -4656px;}
.f24 .SA{background-position:0 -4680px;}
.f24 .SB{background-position:0 -4704px;}
.f24 .SC{background-position:0 -4728px;}
.f24 .SD{background-position:0 -4752px;}
.f24 .SE{background-position:0 -4776px;}
.f24 .SG{background-position:0 -4800px;}
.f24 .SI{background-position:0 -4824px;}
.f24 .SK{background-position:0 -4848px;}
.f24 .SL{background-position:0 -4872px;}
.f24 .SM{background-position:0 -4896px;}
.f24 .SN{background-position:0 -4920px;}
.f24 .SO{background-position:0 -4944px;}
.f24 .SR{background-position:0 -4968px;}
.f24 .ST{background-position:0 -4992px;}
.f24 .SV{background-position:0 -5016px;}
.f24 .SY{background-position:0 -5040px;}
.f24 .SZ{background-position:0 -5064px;}
.f24 .TC{background-position:0 -5088px;}
.f24 .TD{background-position:0 -5112px;}
.f24 .TG{background-position:0 -5136px;}
.f24 .TH{background-position:0 -5160px;}
.f24 .TJ{background-position:0 -5184px;}
.f24 .TL{background-position:0 -5208px;}
.f24 .TM{background-position:0 -5232px;}
.f24 .TN{background-position:0 -5256px;}
.f24 .TO{background-position:0 -5280px;}
.f24 .TR{background-position:0 -5304px;}
.f24 .TT{background-position:0 -5328px;}
.f24 .TV{background-position:0 -5352px;}
.f24 .TW{background-position:0 -5376px;}
.f24 .TZ{background-position:0 -5400px;}
.f24 .UA{background-position:0 -5424px;}
.f24 .UG{background-position:0 -5448px;}
.f24 .US{background-position:0 -5472px;}
.f24 .UY{background-position:0 -5496px;}
.f24 .UZ{background-position:0 -5520px;}
.f24 .VA{background-position:0 -5544px;}
.f24 .VC{background-position:0 -5568px;}
.f24 .VE{background-position:0 -5592px;}
.f24 .VG{background-position:0 -5616px;}
.f24 .VI{background-position:0 -5640px;}
.f24 .VN{background-position:0 -5664px;}
.f24 .VU{background-position:0 -5688px;}
.f24 .WS{background-position:0 -5712px;}
.f24 .YE{background-position:0 -5736px;}
.f24 .ZA{background-position:0 -5760px;}
.f24 .ZM{background-position:0 -5784px;}
.f24 .ZW{background-position:0 -5808px;}
