.f48 .flag {
	background:url('../../Images/flags/flags48.png') no-repeat;

}
.f48 .semi {
  background:url('../../Images/flags/flags48_semi.png') no-repeat;
}

.f48 .undefined{background-position:0 48px;}
.f48 ._African_Union{background-position:0 -0px;}
.f48 ._Arab_League{background-position:0 -48px;}
.f48 ._ASEAN{background-position:0 -96px;}
.f48 ._CARICOM{background-position:0 -144px;}
.f48 ._CIS{background-position:0 -192px;}
.f48 ._Commonwealth{background-position:0 -240px;}
.f48 ._England{background-position:0 -288px;}
.f48 ._European_Union{background-position:0 -336px;}
.f48 ._Islamic_Conference{background-position:0 -384px;}
.f48 ._Kosovo{background-position:0 -432px;}
.f48 ._NATO{background-position:0 -480px;}
.f48 ._Northern_Cyprus{background-position:0 -528px;}
.f48 ._Northern_Ireland{background-position:0 -576px;}
.f48 ._Olympic_Movement{background-position:0 -624px;}
.f48 ._OPEC{background-position:0 -672px;}
.f48 ._Red_Cross{background-position:0 -720px;}
.f48 ._Scotland{background-position:0 -768px;}
.f48 ._Somaliland{background-position:0 -816px;}
.f48 ._Tibet{background-position:0 -864px;}
.f48 ._United_Nations{background-position:0 -912px;}
.f48 ._Wales{background-position:0 -960px;}
.f48 .AD{baaackground-position:0 -1008px;}
.f48 .AE{baaackground-position:0 -1056px;}
.f48 .AF{baaackground-position:0 -1104px;}
.f48 .AG{baaackground-position:0 -1152px;}
.f48 .AI{baaackground-position:0 -1200px;}
.f48 .AL{baaackground-position:0 -1248px;}
.f48 .AM{baaackground-position:0 -1296px;}
.f48 .AN{baaackground-position:0 -1344px;}
.f48 .AO{baaackground-position:0 -1392px;}
.f48 .AQ{baaackground-position:0 -1440px;}
.f48 .AR{baaackground-position:0 -1488px;}
.f48 .AS{baaackground-position:0 -1536px;}
.f48 .AT{baaackground-position:0 -1584px;}
.f48 .AU{baaackground-position:0 -1632px;}
.f48 .AW{baaackground-position:0 -1680px;}
.f48 .AZ{baaackground-position:0 -1728px;}
.f48 .BA{baaackground-position:0 -1776px;}
.f48 .BB{baaackground-position:0 -1824px;}
.f48 .BD{baaackground-position:0 -1872px;}
.f48 .BE{baaackground-position:0 -1920px;}
.f48 .BF{baaackground-position:0 -1968px;}
.f48 .BG{baaackground-position:0 -2016px;}
.f48 .BH{baaackground-position:0 -2064px;}
.f48 .BI{baaackground-position:0 -2112px;}
.f48 .BJ{baaackground-position:0 -2160px;}
.f48 .BM{baaackground-position:0 -2208px;}
.f48 .BN{baaackground-position:0 -2256px;}
.f48 .BO{baaackground-position:0 -2304px;}
.f48 .BR{baaackground-position:0 -2352px;}
.f48 .BS{baaackground-position:0 -2400px;}
.f48 .BT{baaackground-position:0 -2448px;}
.f48 .BW{baaackground-position:0 -2496px;}
.f48 .BY{baaackground-position:0 -2544px;}
.f48 .BZ{baaackground-position:0 -2592px;}
.f48 .CA{baaackground-position:0 -2640px;}
.f48 .CD{baaackground-position:0 -2688px;}
.f48 .CF{baaackground-position:0 -2736px;}
.f48 .CG{baaackground-position:0 -2784px;}
.f48 .CH{baaackground-position:0 -2832px;}
.f48 .CI{baaackground-position:0 -2880px;}
.f48 .CK{baaackground-position:0 -2928px;}
.f48 .CL{baaackground-position:0 -2976px;}
.f48 .CM{baaackground-position:0 -3024px;}
.f48 .CN{baaackground-position:0 -3072px;}
.f48 .CO{baaackground-position:0 -3120px;}
.f48 .CR{baaackground-position:0 -3168px;}
.f48 .CU{baaackground-position:0 -3216px;}
.f48 .CV{baaackground-position:0 -3264px;}
.f48 .CY{baaackground-position:0 -3312px;}
.f48 .CZ{baaackground-position:0 -3360px;}
.f48 .DE{baaackground-position:0 -3408px;}
.f48 .DJ{baaackground-position:0 -3456px;}
.f48 .DK{baaackground-position:0 -3504px;}
.f48 .DM{baaackground-position:0 -3552px;}
.f48 .DO{baaackground-position:0 -3600px;}
.f48 .DZ{baaackground-position:0 -3648px;}
.f48 .EC{baaackground-position:0 -3696px;}
.f48 .EE{baaackground-position:0 -3744px;}
.f48 .EG{baaackground-position:0 -3792px;}
.f48 .EH{baaackground-position:0 -3840px;}
.f48 .ER{baaackground-position:0 -3888px;}
.f48 .ES{baaackground-position:0 -3936px;}
.f48 .ET{baaackground-position:0 -3984px;}
.f48 .FI{baaackground-position:0 -4032px;}
.f48 .FJ{baaackground-position:0 -4080px;}
.f48 .FM{baaackground-position:0 -4128px;}
.f48 .FO{baaackground-position:0 -4176px;}
.f48 .FR{baaackground-position:0 -4224px;}
.f48 .GA{baaackground-position:0 -4272px;}
.f48 .GB{baaackground-position:0 -4320px;}
.f48 .GD{baaackground-position:0 -4368px;}
.f48 .GE{baaackground-position:0 -4416px;}
.f48 .GG{baaackground-position:0 -4464px;}
.f48 .GH{baaackground-position:0 -4512px;}
.f48 .GI{baaackground-position:0 -4560px;}
.f48 .GL{baaackground-position:0 -4608px;}
.f48 .GM{baaackground-position:0 -4656px;}
.f48 .GN{baaackground-position:0 -4704px;}
.f48 .GP{baaackground-position:0 -4752px;}
.f48 .GQ{baaackground-position:0 -4800px;}
.f48 .GR{baaackground-position:0 -4848px;}
.f48 .GT{baaackground-position:0 -4896px;}
.f48 .GU{baaackground-position:0 -4944px;}
.f48 .GW{baaackground-position:0 -4992px;}
.f48 .GY{baaackground-position:0 -5040px;}
.f48 .HK{baaackground-position:0 -5088px;}
.f48 .HN{baaackground-position:0 -5136px;}
.f48 .HR{baaackground-position:0 -5184px;}
.f48 .HT{baaackground-position:0 -5232px;}
.f48 .HU{baaackground-position:0 -5280px;}
.f48 .ID{baaackground-position:0 -5328px;}
.f48 .MC{baaackground-position:0 -5328px;}
.f48 .IE{baaackground-position:0 -5376px;}
.f48 .IL{baaackground-position:0 -5424px;}
.f48 .IM{baaackground-position:0 -5472px;}
.f48 .IN{baaackground-position:0 -5520px;}
.f48 .IQ{baaackground-position:0 -5568px;}
.f48 .IR{baaackground-position:0 -5616px;}
.f48 .IS{baaackground-position:0 -5664px;}
.f48 .IT{baaackground-position:0 -5712px;}
.f48 .JE{baaackground-position:0 -5760px;}
.f48 .JM{baaackground-position:0 -5808px;}
.f48 .JO{baaackground-position:0 -5856px;}
.f48 .JP{baaackground-position:0 -5904px;}
.f48 .KE{baaackground-position:0 -5952px;}
.f48 .KG{baaackground-position:0 -6000px;}
.f48 .KH{baaackground-position:0 -6048px;}
.f48 .KI{baaackground-position:0 -6096px;}
.f48 .KM{baaackground-position:0 -6144px;}
.f48 .KN{baaackground-position:0 -6192px;}
.f48 .KP{baaackground-position:0 -6240px;}
.f48 .KR{baaackground-position:0 -6288px;}
.f48 .KW{baaackground-position:0 -6336px;}
.f48 .KY{baaackground-position:0 -6384px;}
.f48 .KZ{baaackground-position:0 -6432px;}
.f48 .LA{baaackground-position:0 -6480px;}
.f48 .LB{baaackground-position:0 -6528px;}
.f48 .LC{baaackground-position:0 -6576px;}
.f48 .LI{baaackground-position:0 -6624px;}
.f48 .LK{baaackground-position:0 -6672px;}
.f48 .LR{baaackground-position:0 -6720px;}
.f48 .LS{baaackground-position:0 -6768px;}
.f48 .LT{baaackground-position:0 -6816px;}
.f48 .LU{baaackground-position:0 -6864px;}
.f48 .LV{baaackground-position:0 -6912px;}
.f48 .LY{baaackground-position:0 -6960px;}
.f48 .MA{baaackground-position:0 -7008px;}
.f48 .MD{baaackground-position:0 -7056px;}
.f48 .ME{baaackground-position:0 -7104px;}
.f48 .MG{baaackground-position:0 -7152px;}
.f48 .MH{baaackground-position:0 -7200px;}
.f48 .MK{baaackground-position:0 -7248px;}
.f48 .ML{baaackground-position:0 -7296px;}
.f48 .MM{baaackground-position:0 -7344px;}
.f48 .MN{baaackground-position:0 -7392px;}
.f48 .MO{baaackground-position:0 -7440px;}
.f48 .MQ{baaackground-position:0 -7488px;}
.f48 .MR{baaackground-position:0 -7536px;}
.f48 .MS{baaackground-position:0 -7584px;}
.f48 .MT{baaackground-position:0 -7632px;}
.f48 .MU{baaackground-position:0 -7680px;}
.f48 .MV{baaackground-position:0 -7728px;}
.f48 .MW{baaackground-position:0 -7776px;}
.f48 .MX{baaackground-position:0 -7824px;}
.f48 .MY{baaackground-position:0 -7872px;}
.f48 .MZ{baaackground-position:0 -7920px;}
.f48 .NA{baaackground-position:0 -7968px;}
.f48 .NC{baaackground-position:0 -8016px;}
.f48 .NE{baaackground-position:0 -8064px;}
.f48 .NG{baaackground-position:0 -8112px;}
.f48 .NI{baaackground-position:0 -8160px;}
.f48 .NL{baaackground-position:0 -8208px;}
.f48 .NO{baaackground-position:0 -8256px;}
.f48 .NP{baaackground-position:0 -8304px;}
.f48 .NR{baaackground-position:0 -8352px;}
.f48 .NZ{baaackground-position:0 -8400px;}
.f48 .OM{baaackground-position:0 -8448px;}
.f48 .PA{baaackground-position:0 -8496px;}
.f48 .PE{baaackground-position:0 -8544px;}
.f48 .PF{baaackground-position:0 -8592px;}
.f48 .PG{baaackground-position:0 -8640px;}
.f48 .PH{baaackground-position:0 -8688px;}
.f48 .PK{baaackground-position:0 -8736px;}
.f48 .PL{baaackground-position:0 -8784px;}
.f48 .PR{baaackground-position:0 -8832px;}
.f48 .PS{baaackground-position:0 -8880px;}
.f48 .PT{baaackground-position:0 -8928px;}
.f48 .PW{baaackground-position:0 -8976px;}
.f48 .PY{baaackground-position:0 -9024px;}
.f48 .QA{baaackground-position:0 -9072px;}
.f48 .RE{baaackground-position:0 -9120px;}
.f48 .RO{baaackground-position:0 -9168px;}
.f48 .RS{baaackground-position:0 -9216px;}
.f48 .RU{baaackground-position:0 -9264px;}
.f48 .RW{baaackground-position:0 -9312px;}
.f48 .SA{baaackground-position:0 -9360px;}
.f48 .SB{baaackground-position:0 -9408px;}
.f48 .SC{baaackground-position:0 -9456px;}
.f48 .SD{baaackground-position:0 -9504px;}
.f48 .SE{baaackground-position:0 -9552px;}
.f48 .SG{baaackground-position:0 -9600px;}
.f48 .SI{baaackground-position:0 -9648px;}
.f48 .SK{baaackground-position:0 -9696px;}
.f48 .SL{baaackground-position:0 -9744px;}
.f48 .SM{baaackground-position:0 -9792px;}
.f48 .SN{baaackground-position:0 -9840px;}
.f48 .SO{baaackground-position:0 -9888px;}
.f48 .SR{baaackground-position:0 -9936px;}
.f48 .ST{baaackground-position:0 -9984px;}
.f48 .SV{baaackground-position:0 -10032px;}
.f48 .SY{baaackground-position:0 -10080px;}
.f48 .SZ{baaackground-position:0 -10128px;}
.f48 .TC{baaackground-position:0 -10176px;}
.f48 .TD{baaackground-position:0 -10224px;}
.f48 .TG{baaackground-position:0 -10272px;}
.f48 .TH{baaackground-position:0 -10320px;}
.f48 .TJ{baaackground-position:0 -10368px;}
.f48 .TL{baaackground-position:0 -10416px;}
.f48 .TM{baaackground-position:0 -10464px;}
.f48 .TN{baaackground-position:0 -10512px;}
.f48 .TO{baaackground-position:0 -10560px;}
.f48 .TR{baaackground-position:0 -10608px;}
.f48 .TT{baaackground-position:0 -10656px;}
.f48 .TV{baaackground-position:0 -10704px;}
.f48 .TW{baaackground-position:0 -10752px;}
.f48 .TZ{baaackground-position:0 -10800px;}
.f48 .UA{baaackground-position:0 -10848px;}
.f48 .UG{baaackground-position:0 -10896px;}
.f48 .US{baaackground-position:0 -10944px;}
.f48 .UY{baaackground-position:0 -10992px;}
.f48 .UZ{baaackground-position:0 -11040px;}
.f48 .VA{baaackground-position:0 -11088px;}
.f48 .VC{baaackground-position:0 -11136px;}
.f48 .VE{baaackground-position:0 -11184px;}
.f48 .VG{baaackground-position:0 -11232px;}
.f48 .VI{baaackground-position:0 -11280px;}
.f48 .VN{baaackground-position:0 -11328px;}
.f48 .VU{baaackground-position:0 -11376px;}
.f48 .WS{baaackground-position:0 -11424px;}
.f48 .YE{baaackground-position:0 -11472px;}
.f48 .ZA{baaackground-position:0 -11520px;}
.f48 .ZM{baaackground-position:0 -11568px;}
.f48 .ZW{baaackground-position:0 -11616px;}
