<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlackstonePos.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--- Monetra dev params -->
    <add key="DevEnvairoment" value="false" />
    <add key="MonetraTestingURL" value="https://services.bmspay.com/testing" />
    <add key="MonetraTestingUserName" value="testing_user" />
    <add key="MonetraTestingPassword" value="pxt_rws_nsg" />

    <add key="MonetraTestingMid" value="76074" />
    <add key="MonetraTestingCid" value="1" />
    <add key="MonetraTestingTransactionType" value="1" />
    <add key="MonetraTestingAppType" value="11021" />
    <add key="MonetraTestingAppKey" value="a8dcdf14-11c6-4201-a95e-a0512818c98f" />


    <!--- Monetra params -->
    <add key="MonetraURL" value="https://services.bmspay.com" />
    <add key="MonetraMid" value="63879" />
    <add key="MonetraCid" value="287" />
    <!-- Credit params -->
    <add key="CreditAppType" value="11024" />
    <add key="CreditAppKey" value="19DAA9A2-5700-44DD-B9CE-4C047A39EC88" />
    <add key="CreditUserName" value="MetEle_system" />
    <add key="CreditPassword" value="m3t3l3syst3m" />
    <!-- Check params -->
    <add key="CheckAppType" value="11025" />
    <add key="CheckAppKey" value="4E536E8B-4036-4311-9A7A-0BEEC481C5F9" />
    <add key="CheckUserName" value="blackstone_check_virtual_terminal" />
    <add key="CheckPassword" value="qercqewrt245" />
    <add key="CheckTID" value="987125" />


    <add key="BankId" value="305" />
    <add key="CheckType" value="9" />
    <add key="CreditType" value="1" />


  </appSettings>
    <applicationSettings>
        <BlackstonePos.Services.Properties.Settings>
            <setting name="BlackstonePos_Services_com_blackstoneonline_services_Broker" serializeAs="String">
                <value>https://services.blackstoneonline.com/transactionbroker/broker.asmx</value>
            </setting>
        </BlackstonePos.Services.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
